body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

}

.content {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.infield {
    display:flex;
    flex-direction: column;
}

button {
    display: block;
    font-size: 16px;
}